<!DOCTYPE html>
<html ng-app='RedPandaApp'>
  <head>
    <title>V2</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :head_js %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header/header' %>
    <div class='container'>
      <% flash.each do |key, value| %>
        <div class='row flash'>
          <%= content_tag :div, class: "alert alert-#{key} alert-dismissable col-lg-8 col-lg-offset-2"  do %>
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
